<%- include('partials/header') -%> 

<section id="input-section">
    <h1>Chesst</h1>
    <div class="inputDiv container-fluid">
        <label for="">Game Title</label>
        <input type="text" name="">
        <label for="">Game Link</label>
        <input type="url" name="" id="">
    </div>
</section>

<section id="games-section">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h1>Game title here</h1>
                </div>
                <div class="card-body">
                    <a href=""><h3>Game link here</h3></a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%> 