body {
    background: rgb(49, 49, 49);
    color: white;
}

section {
    text-align: center;
}

.title-text {
    font-size: 6rem;
    color: #fd7e24;
}

#input-section {
    padding: 2%;
}

label {
    font-size: 2rem;
    font-weight: bold;
    color: #fd9245;
}

input {
    text-align: center;
}

.add {
    font-weight: 500;
    color: #ff9243;
}

.title-img {
    padding-bottom: 1%;
}

.lichess-puzzle {
    color: #ff8f3e;
}

#games-section {
    padding: 1% 2% 1%;
}

.card {
    margin-bottom: 3%;
    background: #C36C2C;
    color: white;
}

a {
    color: white;
}

.card-header {
    background: #9a5524;
}

.card-title {
    font-size: 2rem;
}

footer {
    padding-top: 2%;
    padding-bottom: 1%;
    color: #ffa667;
}

.icon-div {
    font-size: 0.5rem;
    text-align: center;
    margin: auto;
}